.h5p-kewar-code {
  background-color: var(--h5p-theme-ui-base);
  color: var(--h5p-theme-text-primary);
  container-name: h5p-kewar-code;
  container-type: inline-size;
  font-size: var(--h5p-theme-font-size-m);

  overflow: scroll;

  .h5p-kewar-code-container {
    --svg-color: #000000;
    --svg-background-color: #ffffff;

    cursor: pointer;
    line-height: 0;
    width: min(var(--svg-max-size, 100%), 100%);

    &:focus-visible {
      outline: 4px solid var(--h5p-theme-contrast-cta-white);
      outline-offset: -4px;
    }
  }

  .h5p-kewar-code-container-main {
    display: flex;
    flex-direction: column;
  }

  .h5p-kewar-code-introduction {
    padding-inline: var(--h5p-theme-spacing-s);
  }
}
