.h5p-kewar-code {
  overflow: scroll;
}

.h5p-kewar-code .h5p-kewar-code-container {
  cursor: pointer;
  width: 100%;
}

.h5p-kewar-code .h5p-kewar-code-overlay {
  align-items: center;
  background: #000;
  background: rgba(0,0,0,0.5);
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 0;
  min-height: 100%;
  opacity: 1;
  position: absolute;
  top: 0;
  transition: opacity 0.2s;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  width: 100%;
  z-index: 100;
}

.h5p-kewar-code .h5p-kewar-code-overlay-box {
  background-color: #ffffff;
  border-radius: 0.25em;
  box-shadow: 0 0 0.625em 0 rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: row-reverse;
  padding: 1em;
  width: 80%;
}

.h5p-kewar-code .h5p-kewar-code-overlay-box-content {
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}

.h5p-kewar-code .h5p-kewar-code-overlay-box-button-close {
  background: url('../images/close.svg') no-repeat;
  cursor: pointer;
  flex-grow: 0;
  flex-shrink: 0;
  height: 1.5em;
  margin-left: 0.5em;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  width: 1.5em;
}

.h5p-kewar-code .h5p-kewar-code-overlay-box-button-close:hover {
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.h5p-kewar-code .h5p-kewar-code-display {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  font-size: 0.9em;
  line-height: 1.4em;
}

.h5p-kewar-code .h5p-kewar-code-display-title {
  font-size: 1.5em;
  margin-bottom: 0.5em;
}

.h5p-kewar-code .h5p-kewar-code-display-row {
  display: flex;
  flex-direction: row;
}

.h5p-kewar-code .h5p-kewar-code-display-row-name {
  flex-grow: 0;
  flex-shrink: 0;
  font-weight: bold;
  margin-right: 0.5em;
}

.h5p-kewar-code .h5p-kewar-code-display-row-content {
  flex-grow: 0;
  flex-shrink: 1;
}

.h5p-kewar-code .h5p-kewar-code-no-display {
  display: none;
}

.h5p-kewar-code .h5p-kewar-code-no-opacity {
  opacity: 0;
}

@media only screen and (max-width: 480px) {
  .h5p-kewar-code .h5p-kewar-code-overlay-box {
    border-radius: 0;
    flex-grow: 1;
    width: calc(100% - 2em);
  }
}
